 /* Extra small devices (portrait phones, less than 576px) */

 @media (max-width: 575.98px) {
    .fmclass {
        width: 95%;
        margin-left: 0;
    }
    .fw1 {
        width: 100%;
        margin-left: -22%;
    }

    .form-label {

        margin-left: -22%;
    }

    .lidiv3 {
        width: 100%;
        margin-left: 17%;
    }

    .fb1 {
        width: 100%;
        margin-left: 0;

    }

    .fb2 {
        width: 100%;
        margin-left: 0;
    }

     .iconfooter {

         justify-content: center;
     }

     .ft-img {
         justify-content: center;

     }

     .footer-list {

         justify-content: center;
     }

     .footer-list1 {

         justify-content: center;
     }

 }

 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {

     .fmclass {
         width: 100%;
     }

     .fw1 {

         margin-left: -33%;
     }

     .form-label {

         margin-left: -32%;
     }

     .lidiv3 {
         margin-left: 10%;
     }

     .fb1 {

         margin-left: -18%;

     }

     .fb2 {

         margin-left: -18%;
     }



     .iconfooter {

         justify-content: center;
     }

     .ft-img {
         justify-content: center;

     }

     .footer-list {

         justify-content: center;
     }

     .footer-list1 {

         justify-content: center;
     }


 }





 /* // Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
     .fmclass {

         margin-left: -4%;
     }

     .form-label {

         margin-left: -20%;
     }

     .fw1 {
         width: 113%;
         margin-left: -20%;
     }

     .lidiv3 {
         margin-left: 7%;
     }

     .fb1 {
         width: 176%;
         margin-left: -37%;
     }

     .fb2 {
         width: 176%;
         margin-left: -37%;
     }



     .iconfooter {

         justify-content: center;
     }

     .ft-img {
         justify-content: center;

     }

     .footer-list {

         justify-content: center;
     }

     .footer-list1 {

         justify-content: center;
     }

 }

 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {}

 /* // Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {}